.one {
    background-color: aqua;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    border: 2px
}

.two {
    background-color: beige;
    color: #863030;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid rgb(0, 0, 129);
}

.three {
    background-color: rgb(255, 141, 141);
    color: mediumvioletred;
    border: 3px solid rgb(154, 154, 154);
}

.img {
    border-radius: 25px;
}